<p>
  test works!
</p>
<hr>
<button mat-button class="mat-flat-button" [matMenuTriggerFor]="menuButtons">菜单</button>
<mat-menu #menuButtons="matMenu">
  <button class="mat-menu-item">按钮1</button>
  <button class="mat-menu-item">按钮2</button>
  <button class="mat-menu-item">按钮2</button>
</mat-menu>


<hr>
<span>{{getDate()}}</span>
<hr>
<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="panel-title">模板引用变量1</div>
  </div>
  <div class="panel-body">
    <input type="text" name="phone" placeholder="请输入手机号" class="form-control"
           #phone (blur)="showOne(phone.value);"><br>
    <span class="lable lable-primary">{{phone.value}}</span>
  </div>
</div>


<hr>
<mat-form-field>
<input matInput placeholder="输入你的名字" value="jeason">
</mat-form-field>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi">
    <!--matInput是指令！！！正式通过指令实现了一些特殊功能，也就是操作DOM！-->
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>
</form>
