<hr>
<div class="myClass">使用class对div进行个性化定义</div>
<div style="border-top: green 1px solid;">使用style对div进行个性化定义</div>
<span class="myClass">尝试对span加载div的样式表,事实证明不起作用</span><br>
<span class="universalClass">尝试对span加载通用样式表</span>
<div class="universalClass">尝试对div加载div的样式表</div>
<hr>
<strong>开始尝试一些常用的样式属性</strong>
<div style="width:200px;height:100px;background-color:green;">
  宽度width<br>
  高度height<br>
  背景色background-color
</div>
<hr>
<div style="border:black 1px solid;width:500px;height:200px;">父容器
  <div style="margin:5px 10px 20px 30px;width:100px; height:100px;background-color:red;">
  </div>
</div>
<span>
  margin:后面跟有四个距离分别为到父容器的上-右-下-左边的距离，可以看例子中的红色子div到父div的描边距离。<br>
  还可以分别设置这四个边的距离，用到的属性如下：<br>
  margin-left:到父容器左边框的距离。<br>
  margin-right:到父容器右边框的距离。<br>
  margin-top: 到父容器上边框的距离。<br>
  margin-bottom:到父容器下边框的距离。
</span>
<hr>

